body {
	background: #e0e0eb;
	color: #404040;
}

#box-container {
	display: flex;
}

#editor, #preview {
	width: 50%;
	padding: 20px;
}

#editor {
	overflow: auto;
	margin: 20px;
}

@media(max-width: 700px) {
	#box-container {
		display: block;
	}
	#editor, #preview {
		width: 100%;
	}
	#editor {
		height: 300px;
	}
}